# Two-way ANOVA

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Example 1: Store Quality of Service based on a Day of Week & Store

In [23]:
# Below data shows Customer satisfaction score on the Quality of Service 
# from each store on a given day

raw_data  = [['Day','Store-A','Store-B','Store-C','Store-D','Store-E'], [1,79, 81, 74, 77, 66],\
           [2, 78, 86, 89, 97, 86], [3, 81, 87, 84, 94, 82], [4, 80, 83, 81, 88, 83], [5, 70, 74, 77, 89, 68]]

cols = raw_data.pop(0)

store_df = pd.DataFrame(raw_data, columns=cols)
store_df

   Day  Store-A  Store-B  Store-C  Store-D  Store-E
0    1       79       81       74       77       66
1    2       78       86       89       97       86
2    3       81       87       84       94       82
3    4       80       83       81       88       83
4    5       70       74       77       89       68

In [24]:
day_values = store_df['Day'].values
A_values = store_df['Store-A'].values
B_values = store_df['Store-B'].values
C_values = store_df['Store-C'].values
D_values = store_df['Store-D'].values
E_values = store_df['Store-E'].values

In [25]:
# Splitting the data
df_a = pd.DataFrame({'Day': day_values,
                      'Store': 'A',
                      'QoS': A_values})
df_b = pd.DataFrame({'Day': day_values,
                    'Store': 'B',
                    'QoS': B_values})
df_c = pd.DataFrame({'Day': day_values,
                    'Store': 'C',
                    'QoS': C_values})
df_d = pd.DataFrame({'Day': day_values,
                     'Store': 'D',
                     'QoS': D_values})

df_e = pd.DataFrame({'Day': day_values,
                    'Store': "E",
                    "QoS": E_values})

df_a, df_b

(   Day Store  QoS
 0    1     A   79
 1    2     A   78
 2    3     A   81
 3    4     A   80
 4    5     A   70,
    Day Store  QoS
 0    1     B   81
 1    2     B   86
 2    3     B   87
 3    4     B   83
 4    5     B   74)

In [26]:
# Appending all the above individual store values to DF
QoS_df = pd.DataFrame()

QoS_df = QoS_df.append(df_a)
QoS_df = QoS_df.append(df_b)
QoS_df = QoS_df.append(df_c)
QoS_df = QoS_df.append(df_d)
QoS_df = QoS_df.append(df_e)

QoS_df

   Day Store  QoS
0    1     A   79
1    2     A   78
2    3     A   81
3    4     A   80
4    5     A   70
0    1     B   81
1    2     B   86
2    3     B   87
3    4     B   83
4    5     B   74
0    1     C   74
1    2     C   89
2    3     C   84
3    4     C   81
4    5     C   77
0    1     D   77
1    2     D   97
2    3     D   94
3    4     D   88
4    5     D   89
0    1     E   66
1    2     E   86
2    3     E   82
3    4     E   83
4    5     E   68

In [27]:
import statsmodels.api as sm
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm

In [29]:
formula = 'QoS ~ C(Day) + C(Store)'
model_ols = ols(formula=formula, data=QoS_df).fit()
model_ols.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    QoS   R-squared:                       0.792
Model:                            OLS   Adj. R-squared:                  0.689
Method:                 Least Squares   F-statistic:                     7.636
Date:                Sun, 22 Aug 2021   Prob (F-statistic):           0.000309
Time:                        02:25:43   Log-Likelihood:                -65.790
No. Observations:                  25   AIC:                             149.6
Df Residuals:                      16   BIC:                             160.5
Df Model:                           8
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
Intercept        71.6400      2.522     28.408      0.000      66.294      76.986
C(Day)[T.2]      11.8000      2.658      4.439      0.000       6.165      17.435
C(Day)[T.3]      10.2000      2.658      3.837      0.001       4.565      15.835
C(Day)[T.4]       7.6000      2.658      2.859      0.011       1.965      13.235
C(Day)[T.5]       0.2000      2.658      0.075      0.941      -5.435       5.835
C(Store)[T.B]     4.6000      2.658      1.730      0.103      -1.035      10.235
C(Store)[T.C]     3.4000      2.658      1.279      0.219      -2.235       9.035
C(Store)[T.D]    11.4000      2.658      4.289      0.001       5.765      17.035
C(Store)[T.E]    -0.6000      2.658     -0.226      0.824      -6.235       5.035
==============================================================================
Omnibus:                        0.387   Durbin-Watson:                   2.842
Prob(Omnibus):                  0.824   Jarque-Bera (JB):                0.475
Skew:                           0.252   Prob(JB):                        0.789
Kurtosis:                       2.551   Cond. No.                         6.65
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [8]:
annova_table = anova_lm(model_ols, typ=2)
print(annova_table)

          sum_sq    df         F    PR(>F)
C(Day)    617.36   4.0  8.737051  0.000614
C(Store)  461.76   4.0  6.534956  0.002575
Residual  282.64  16.0       NaN       NaN

In [9]:
print(f"""
p-Value of Day: {annova_table['PR(>F)'][0]} is less then 0.05, we reject the Ho in favor of Ha.
Conclude that the Day of Week is having effect on the QoS
p-Value of Store: {annova_table['PR(>F)'][1]} is less then 0.05, we reject the Ho in favor of Ha.
Conclude that the Store is having effect on the QoS
""")

p-Value of Day: 0.0006137845612060412 is less then 0.05, we reject the Ho in favor of Ha.
Conclude that the Day of Week is having effect on the QoS
p-Value of Store: 0.0025754076569080454 is less then 0.05, we reject the Ho in favor of Ha.
Conclude that the Store is having effect on the QoS

## Compare the data with Tukey Analysis

In [10]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd

In [11]:
QoS_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Day     25 non-null     int64
 1   Store   25 non-null     object
 2   QoS     25 non-null     int64
dtypes: int64(2), object(1)
memory usage: 800.0+ bytes

In [12]:
QoS_df['Day-Store'] = QoS_df['Day'].astype(str)+"-"+QoS_df['Store'].astype(str)
QoS_df

   Day Store  QoS Day-Store
0    1     A   79       1-A
1    2     A   78       2-A
2    3     A   81       3-A
3    4     A   80       4-A
4    5     A   70       5-A
0    1     B   81       1-B
1    2     B   86       2-B
2    3     B   87       3-B
3    4     B   83       4-B
4    5     B   74       5-B
0    1     C   74       1-C
1    2     C   89       2-C
2    3     C   84       3-C
3    4     C   81       4-C
4    5     C   77       5-C
0    1     D   77       1-D
1    2     D   97       2-D
2    3     D   94       3-D
3    4     D   88       4-D
4    5     D   89       5-D
0    1     E   66       1-E
1    2     E   86       2-E
2    3     E   82       3-E
3    4     E   83       4-E
4    5     E   68       5-E

In [16]:
new_QoS_df = QoS_df[['Day-Store', 'QoS']]
new_QoS_df

  Day-Store  QoS
0       1-A   79
1       2-A   78
2       3-A   81
3       4-A   80
4       5-A   70
0       1-B   81
1       2-B   86
2       3-B   87
3       4-B   83
4       5-B   74
0       1-C   74
1       2-C   89
2       3-C   84
3       4-C   81
4       5-C   77
0       1-D   77
1       2-D   97
2       3-D   94
3       4-D   88
4       5-D   89
0       1-E   66
1       2-E   86
2       3-E   82
3       4-E   83
4       5-E   68

In [17]:
# tukey_table = pairwise_tukeyhsd(endog=QoS_df['QoS'],
#                                 groups=QoS_df['Day-Store'],
#                                alpha=0.05)
# print(tukey_table)
result = pairwise_tukeyhsd(endog=new_QoS_df['QoS'], groups=new_QoS_df['Day-Store'], alpha=0.05)

C:\Users\anil_\AppData\Roaming\Python\Python39\site-packages\numpy\core\fromnumeric.py:3621: RuntimeWarning: Degrees of freedom <= 0 for slice
  return _methods._var(a, axis=axis, dtype=dtype, out=out, ddof=ddof,
C:\Users\anil_\AppData\Roaming\Python\Python39\site-packages\numpy\core\_methods.py:226: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

ValueError: v must be > 1 when p >= .9

In [28]:
print("""
Unable to perform Tukey test for Two Way ANOVA
""")

Unable to perform Tukey test for Two Way ANOVA

## Example 2: Height of Kids compared to nurition given daily/weekly or exposed to games

In [18]:
nut_arr = np.repeat(['daily','weekly'],repeats=15)
nut_arr

array(['daily', 'daily', 'daily', 'daily', 'daily', 'daily', 'daily',
       'daily', 'daily', 'daily', 'daily', 'daily', 'daily', 'daily',
       'daily', 'weekly', 'weekly', 'weekly', 'weekly', 'weekly',
       'weekly', 'weekly', 'weekly', 'weekly', 'weekly', 'weekly',
       'weekly', 'weekly', 'weekly', 'weekly'], dtype='<U6')

In [19]:
games_arr = np.tile( np.repeat(['low', 'med', 'high'], repeats=5), 2)
games_arr

array(['low', 'low', 'low', 'low', 'low', 'med', 'med', 'med', 'med',
       'med', 'high', 'high', 'high', 'high', 'high', 'low', 'low', 'low',
       'low', 'low', 'med', 'med', 'med', 'med', 'med', 'high', 'high',
       'high', 'high', 'high'], dtype='<U4')

In [20]:
height_arr = np.array([6, 6, 6, 5, 6, 5, 5, 6, 4, 5,
                              6, 6, 7, 8, 7, 3, 4, 4, 4, 5,
                              4, 4, 4, 4, 4, 5, 6, 6, 7, 8])
height_arr

array([6, 6, 6, 5, 6, 5, 5, 6, 4, 5, 6, 6, 7, 8, 7, 3, 4, 4, 4, 5, 4, 4,
       4, 4, 4, 5, 6, 6, 7, 8])

In [21]:
kids_df = pd.DataFrame({'Nut': nut_arr,
                       'games': games_arr,
                       'height': height_arr})
kids_df

       Nut games  height
0    daily   low       6
1    daily   low       6
2    daily   low       6
3    daily   low       5
4    daily   low       6
5    daily   med       5
6    daily   med       5
7    daily   med       6
8    daily   med       4
9    daily   med       5
10   daily  high       6
11   daily  high       6
12   daily  high       7
13   daily  high       8
14   daily  high       7
15  weekly   low       3
16  weekly   low       4
17  weekly   low       4
18  weekly   low       4
19  weekly   low       5
20  weekly   med       4
21  weekly   med       4
22  weekly   med       4
23  weekly   med       4
24  weekly   med       4
25  weekly  high       5
26  weekly  high       6
27  weekly  high       6
28  weekly  high       7
29  weekly  high       8

In [30]:
kids_model = ols('height ~ C(games) + C(Nut) + C(games):C(Nut)', data=kids_df).fit()
kids_model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 height   R-squared:                       0.737
Model:                            OLS   Adj. R-squared:                  0.682
Method:                 Least Squares   F-statistic:                     13.45
Date:                Sun, 22 Aug 2021   Prob (F-statistic):           2.62e-06
Time:                        02:26:02   Log-Likelihood:                -29.792
No. Observations:                  30   AIC:                             71.58
Df Residuals:                      24   BIC:                             79.99
Df Model:                           5
Covariance Type:            nonrobust
====================================================================================================
                                       coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------------
Intercept                            6.8000      0.327     20.821      0.000       6.126       7.474
C(games)[T.low]                     -1.0000      0.462     -2.165      0.041      -1.953      -0.047
C(games)[T.med]                     -1.8000      0.462     -3.897      0.001      -2.753      -0.847
C(Nut)[T.weekly]                    -0.4000      0.462     -0.866      0.395      -1.353       0.553
C(games)[T.low]:C(Nut)[T.weekly]    -1.4000      0.653     -2.143      0.042      -2.748      -0.052
C(games)[T.med]:C(Nut)[T.weekly]    -0.6000      0.653     -0.919      0.367      -1.948       0.748
==============================================================================
Omnibus:                        1.012   Durbin-Watson:                   1.647
Prob(Omnibus):                  0.603   Jarque-Bera (JB):                0.297
Skew:                           0.201   Prob(JB):                        0.862
Kurtosis:                       3.275   Cond. No.                         9.77
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [31]:
kids_anova_table = anova_lm(kids_model, typ=2)
kids_anova_table

                    sum_sq    df        F    PR(>F)
C(games)         24.866667   2.0  23.3125  0.000002
C(Nut)            8.533333   1.0  16.0000  0.000527
C(games):C(Nut)   2.466667   2.0   2.3125  0.120667
Residual         12.800000  24.0      NaN       NaN

In [32]:
print(f"""
1.Since the p_value of Games: {kids_anova_table['PR(>F)'][0]} is < 0.05 they have a statistical significance, Ho is rejected in favour of Ha.
So games have an impact of height.

2. Since the p_value of Nut: {kids_anova_table['PR(>F)'][1]} is < 0.05 they have a statistical significance, Ho is rejected in favour of Ha.
So Nut have an impact of height.

3. Since the p_value of Games & Nutrition: {kids_anova_table['PR(>F)'][2]} is > 0.05 they have no a statistical significance, failed to reject Ho.
So games & nitrition do not have an interaction between both of them
""")

1.Since the p_value of Games: 2.371555925858269e-06 is < 0.05 they have a statistical significance, Ho is rejected in favour of Ha.
So games have an impact of height.

2. Since the p_value of Nut: 0.0005269080727817035 is < 0.05 they have a statistical significance, Ho is rejected in favour of Ha.
So Nut have an impact of height.

3. Since the p_value of Games & Nutrition: 0.12066712248670274 is > 0.05 they have no a statistical significance, failed to reject Ho.
So games & nitrition do not have an interaction between both of them

In [34]:
kids_df['Nut_games'] = kids_df['Nut'].astype('str')+'-'+kids_df['games']
kids_df

       Nut games  height    Nut_games
0    daily   low       6    daily-low
1    daily   low       6    daily-low
2    daily   low       6    daily-low
3    daily   low       5    daily-low
4    daily   low       6    daily-low
5    daily   med       5    daily-med
6    daily   med       5    daily-med
7    daily   med       6    daily-med
8    daily   med       4    daily-med
9    daily   med       5    daily-med
10   daily  high       6   daily-high
11   daily  high       6   daily-high
12   daily  high       7   daily-high
13   daily  high       8   daily-high
14   daily  high       7   daily-high
15  weekly   low       3   weekly-low
16  weekly   low       4   weekly-low
17  weekly   low       4   weekly-low
18  weekly   low       4   weekly-low
19  weekly   low       5   weekly-low
20  weekly   med       4   weekly-med
21  weekly   med       4   weekly-med
22  weekly   med       4   weekly-med
23  weekly   med       4   weekly-med
24  weekly   med       4   weekly-med
25  weekly  high       5  weekly-high
26  weekly  high       6  weekly-high
27  weekly  high       6  weekly-high
28  weekly  high       7  weekly-high
29  weekly  high       8  weekly-high

In [36]:
result = pairwise_tukeyhsd(endog=kids_df['height'], groups=kids_df['Nut_games'], alpha=0.05)

In [37]:
print(result)

     Multiple Comparison of Means - Tukey HSD, FWER=0.05
==============================================================
   group1      group2   meandiff p-adj   lower   upper  reject
--------------------------------------------------------------
 daily-high   daily-low     -1.0   0.29 -2.4282  0.4282  False
 daily-high   daily-med     -1.8 0.0079 -3.2282 -0.3718   True
 daily-high weekly-high     -0.4    0.9 -1.8282  1.0282  False
 daily-high  weekly-low     -2.8  0.001 -4.2282 -1.3718   True
 daily-high  weekly-med     -2.8  0.001 -4.2282 -1.3718   True
  daily-low   daily-med     -0.8 0.5222 -2.2282  0.6282  False
  daily-low weekly-high      0.6 0.7576 -0.8282  2.0282  False
  daily-low  weekly-low     -1.8 0.0079 -3.2282 -0.3718   True
  daily-low  weekly-med     -1.8 0.0079 -3.2282 -0.3718   True
  daily-med weekly-high      1.4  0.057 -0.0282  2.8282  False
  daily-med  weekly-low     -1.0   0.29 -2.4282  0.4282  False
  daily-med  weekly-med     -1.0   0.29 -2.4282  0.4282  False
weekly-high  weekly-low     -2.4  0.001 -3.8282 -0.9718   True
weekly-high  weekly-med     -2.4  0.001 -3.8282 -0.9718   True
 weekly-low  weekly-med      0.0    0.9 -1.4282  1.4282  False
--------------------------------------------------------------

In [38]:
print("""
daily-high   daily-med, daily-high  weekly-low, etc  have an impact on Height
""")

daily-high   daily-med, daily-high  weekly-low, etc  have an impact on Height

In [18]:
# One more data set
table2  = [['Day','Store-A','Store-B','Store-C','Store-D','Store-E'], [1,69, 71, 64, 67, 56],\
           [2, 68, 76, 79, 87, 76], [3, 71, 77, 74, 84, 72], [4, 70, 73, 71, 78, 73], [5, 60, 64, 67, 79, 58]]

In [ ]:
# One more dataset
table2  = [['Day','Store-A','Store-B','Store-C','Store-D','Store-E'], [1,69, 71, 64, 67, 56],\
           [2, 68, 76, 79, 87, 76], [3, 71, 77, 74, 84, 72], [4, 70, 73, 71, 78, 73], [5, 60, 64, 67, 79, 58]]